body {
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.7rem;
}
article + article {
    margin-top: 3rem;
    border-top: 1px solid #d2d2d2;
    padding-top: 3rem;
}